@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    html {
        color-scheme: light dark;
    }

    body {
        @apply bg-white text-slate-900;
    }

    #root {
        display: flex;
        flex-direction: column;
        min-block-size: 100%;
    }

    header {
        flex: 0 1 auto;
    }

    main {
        flex-direction: column;
        overflow: auto;
        flex: 1 1 auto;
        inline-size: 100%;
    }

    menu {
        display: flex;
        flex-direction: row;
    }

    button {
        cursor: pointer;
    }

    footer {
        flex: 0 1 auto;
    }

    @media (prefers-color-scheme: dark) {
        body {
            @apply bg-gray-800 text-slate-50;
        }
    }
}